<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
               <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
               <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
                <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" /> 
        </staticContent>
        <rewrite>
            <rules>
                <rule name="vadarvardskap" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/Vad\+%E4r\+V%E4rdskap__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/Vad\+%E4r\+V%E4rdskap__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/Vad+%E4r+V%E4rdskap__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/Vad+%E4r+V%E4rdskap__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/.*rdskap.*1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/.*rdskap.*1053.html" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/what-is-welcoming/" redirectType="Permanent"/>
                </rule>
                <rule name="jangunnarsson" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/index.asp/id/10/skribent/115980/" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/index.asp/id/10/skribent/115980/" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/contact/#employee" redirectType="Permanent"/>
                </rule>
                <rule name="blogg" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/gastblogg/" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/gastblogg/" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/blog/" redirectType="Permanent"/>
                </rule>
                <rule name="contact" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/Vi\+som\+jobbar__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/Vi\+som\+jobbar__1053.html" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/contact/" redirectType="Permanent"/>
                </rule>
                <rule name="lectures" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/.*sningar__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/*sningar__1053.html" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/lectures/" redirectType="Permanent"/>
                </rule>
                <rule name="training" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="vardskapet.se/Utbildning__1053.html" />
                        <add input="{HTTP_HOST}{REQUEST_URI}" pattern="www.vardskapet.se/Utbildning__1053.html" />
                    </conditions>
                    <action type="Redirect" url="http://vardskapet.se/training/" redirectType="Permanent"/>
                </rule>
                
                
                <rule name="Main Rule" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="php info" stopProcessing="true">
                    <match url="phpinfo.php" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="phpinfo.php" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering allowDoubleEscaping="true" />
        </security>
    </system.webServer>
</configuration>