.blog-post-holder{
    .grid-holder .grid-col-50 {
        height: 420px;
    }
    .grid-holder:nth-child(2n+1){
        .text {
            padding: 40px 60px 0 0;
        }
    }
    .grid-holder:nth-child(2n+2){
        .image {
            float: right;
        }
        .text {
            padding: 40px 0 0 50px;
        }
    }
    p {
        color: black;
    }
    .blog-excerpt {
        $font-size: 16px;
        $line-height: 1.4;
        $lines-to-show: 6;
        p {
            display: block; /* Fallback for non-webkit */
            display: -webkit-box;
            /* height: $font-size*$line-height*$lines-to-show;  Fallback for non-webkit */
            font-size: $font-size;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 10px;
        }
    }
}
.page-template-blog {
    .content-inner {
        padding-bottom: 120px;
    }
}


.searchandfilter {
    max-width: 566px;
    p.regular {
        text-align: center;
        font-family: Roboto-regular;
        display: block;
        margin-bottom: 1em;
        margin-top: 0;
    }
    .category-column {
        float: left;
        //padding-right: 32px;
        //border-right: 1px solid white;
    }
    .date-column {
        float: left;
        padding-left: 32px;
        &>div {
            margin-bottom: 16px;
        }
        .datepicker-field {
            border: none;
            border-bottom: 2px solid white;
            background: none;
            color: white;
            outline: none;
            width: 210px;
        }
    }
    .date-label {
        width: 45px;
        margin-right: 8px;
        display: inline-block;
        text-align: right;
    }
    .filter-button {
        margin-top: 16px;
        border: 2px solid white;
        border-radius: 0;
        background: none;
        color: white;
        font-family: 'Roboto-regular';
        transition: all .2s ease-in-out;
        user-select: none;
        &:hover {
            background:rgba(255,255,255,.4);
            border: 2px solid white;
            color: white;
        }
    }
    .cat-checkbox {
        cursor: pointer;
        user-select: none;
        font-family: 'Roboto-regular';
        float: left;
        margin-right: 15px;
        &:before {
            content: '\f3a6';
            font-family: 'ion';
            font-size: 20px;
            color: white;
            display: inline;
            margin-right: 8px;
        }
        &.active:before {
            content: '\f3a7';
        }
    }
}
.blog-post-single {
    padding-top: 40px;
}

.blog-intro {
    padding-bottom: 30px;
}

.arrow-blue {
    background: url('assets/images/arrow-blue.png');
    width: 24px;
    height: 24px;
    background-size: contain;
    margin: 100px auto;
    cursor: pointer;
}

.divider-black {
    border-bottom: 1px solid black;
    width: 250px;
    max-width: 100%;
    margin: 0 auto 50px;
}


.blog-post-small.grid-col-50 {
    .read-more a {
        font-family: 'Roboto-regular';
        &:hover {
            text-decoration: underline;
        }
    }
    h3 {
        font-size: 24px;
        margin-bottom: 5px;
        &:hover {
            text-decoration: underline;
        }
    }
    .date {
        font-family: 'Roboto-regular';
        margin-bottom: 10px;
    }
    .blog-post-image {
        background-size: cover;
        background-position: center center;
        background-image: url('assets/images/default-img.png');
        padding-bottom: 100%;
        cursor: pointer;
    }
}

.divider-small {
    width: 100px;
    border-bottom: 1px solid black;
    margin: 10px auto 10px;
}


.single {
    section.main-content {
        margin: 0 auto 0;
    }
}

.nav-previous, .nav-next {
    a {
        color: white;
        &:hover {
            text-decoration: none;
        }
    }
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}
.nav-next a:after {
    font-family: 'ion';
    content: '\f125';
    display: inline;
    margin-left: 8px;
}
.nav-previous a:before {
    font-family: 'ion';
    content: '\f124';
    display: inline;
    margin-right: 8px;
}

section.main-content {
    .blog-post-single {
        h1 {
            color: $blue;
            text-align: center;
            max-width: 600px;
            margin: auto;
        }
        p.date {
            font-family: 'Roboto-regular';
            text-align: center;
        }
        .blog-post-content {
            margin-top: 50px;
            margin-bottom: 65px;
            padding: 0 60px;
            img {
                width: 90%;
                display: inline-block;
                border-radius: 0;
            }
            strong {
                font-weight: normal;
                font-family: 'Roboto-regular';
            }
            p {
                color: black;
            }
        }
        .social {
            text-align: center;
            padding: 30px 0;
        }
    }
}
.fb_iframe_widget {
    vertical-align: bottom;
    display: inline-block !important;
}
.IN-widget {
    vertical-align: bottom !important;
    margin-bottom: -3px;
}
.twitter-share-button {
    vertical-align: bottom !important;
}
a.mail-share {
    height: 20px;
    background: #656565;
    margin: 0 3px;
    border-radius: 3px;
    padding: 1px 8px;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    vertical-align: bottom;
    color:white;
    i {
        margin-right: 3px;
    }
}

@media screen and (max-width:782px){
    section.main-content .blog-post-single .blog-post-content {
        column-count: 1;
        margin: 25px 0 25px;
        padding: 0;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 579px){
    .searchandfilter {
        .category-column {
            width: 100%;
            border: 0;
            padding: 0;
        }
        .date-column {
            padding: 16px 0 0 0;
            width: 100%;
            .datepicker-field {
                width: 100%;
                margin-top: 10px;
            }
        }
        .date-label {
            text-align: left;
        }
    }
}
