body.popup-active,html.popup-active {
    overflow-y: hidden;
}

.client-modal {
    background: none;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    transform: scale(0);
    transition: all .3s ease-in-out;
    &.active {
        transform: scale(1);
    }
    &.fullscreen {
        .client-modal-content {
            top: 0;
            transform: none;
            left: 0;
            max-width:100%;
        }
    }
}
.client-modal-content {
    background: $green;
    pointer-events: all;
    width: 100%;
    max-width: 712px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(0,0,0,.3);
}
.client-modal-wrapper {
    max-width: 500px;
    padding: 50px 0;
    margin: auto;
    color: white;
    h1 {
        color: white;
        font-family: 'Playfair';
        margin-bottom: 25px;
    }
    .pad25 {
        margin: 25px auto;
    }

    input,textarea {
        border: 1px solid white;
        border-radius: 5px;
        background: none;
        transition: all .3s ease-in-out;
        &:focus {
            box-shadow: 0 0 5px rgba(255,255,255,1);
            background: none;
            color: white;
        }
        color: white;
        outline: none;
        display: block;
        margin: 10px auto;
        padding: 10px 15px;
        width: 100%;
        &::placeholder {
            color:white;
        }
    }
    textarea {
        height: 150px;
    }
    .button {
        margin: 20px auto 0;
        border-radius: 10px;
        padding: 10px 30px;
        font-weight: normal;
        a {
            font-family: 'Roboto-Regular';
            font-weight: normal;
        }
    }
}

.client-modal-close {
    font-size: 30px;
    position: absolute;
    right: 22px;
    top: 22px;
    color: white;
    line-height: .8;
    cursor: pointer;
    &:hover {
        color: lightgray;
    }
}
.client-modal-body {
    text-align: center;
}
.client-modal-image {
    width: 100%;
    height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.get-contacted-popup {
    .client-modal-content {
        max-width: 470px;
    }
}


.request-form {
    input,select {
        width: calc(49% - 10px);
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: top;
    }
    #request-form-date {
        width: calc(40% - 10px);
    }
    #request-form-time, #request-form-pass {
        width: calc(30% - 10px);
    }
    #request-form-address,#request-form-purpose {
        width: calc(100% - 16px);
        margin: 10px 0;
    }
}

$background: #e74c3c;
$select-color: #fff;
$select-background: #c0392b;
$select-width: calc(49% - 10px);;
$select-height: 47px; 

.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: $select-color;
    width: $select-width;
    height: $select-height;
    margin: 10px 10px 10px 0;
  }
  .select-styled {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $select-background;
    padding: 8px 15px;
    border-radius: 5px;
    line-height: 1.9;
    border: 1px solid white;
    @include transition(all 0.2s ease-in);
    &:after {
        content: "\f123";
        position: absolute;
        top: 8px;
        right: 10px;
        font-family: ion;
        transition: all .3s ease-in-out;
    }
    &:active, &.active {
        box-shadow: 0 0 5px rgba(255,255,255,1);
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 98%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    border: 1px solid white;
    li {
      margin: 0;
      padding: 12px 0;
      text-indent: 15px;
      border-bottom: 1px solid white;
      @include transition(all 0.15s ease-in);
      &:hover {
        color: $select-background;
        background: $select-color;
      }
      &[rel="hide"] {
        display: none;
      }
      &:last-child {
          border-bottom: none;
      }
    }
  }

.movie-preview-popup{
    .client-modal-content {
    max-width: 850px;
    width: 100%;
    background: #252522;
    }
    .client-modal-wrapper {
        padding: 40px;
        max-width: 630px;
        width: 100%;
    }
    .button {
        margin-left:8px;
        margin-right: 8px;
        a {
            color: black;
            font-family: 'Roboto-Regular';
        }
    }
}
.get-contacted-thanks {
    display: none;
}
#header-popup-email {
    width: 100%;
    max-width: 350px;
}

@media screen and (max-width: 782px){
    .client-modal-wrapper {
        padding: 50px 5%;
    }
    .client-modal-content {
        top: 0;
        left: 0;
        transform: none;
        min-height: 100%;
    }
    .request-form input,.select {
        width: 100%;
    }
    .request-form #request-form-address, .request-form #request-form-purpose {
        width: 100%;
    }
    .client-modal-wrapper h1 {
        font-size: 32px;
    }
    .movie-preview-popup .button {
        margin: 20px 0;
        width:100%;
        &:last-child {
            border: 1px solid white;
            margin: 0;
        }
    }
}