section.dynamicpage {

    .grid-holder .grid-col-100.white-bg {
        h1 {
            text-align: center;
            font-size: 41px;
        }
    }

    .grid-holder .grid-col-100 {
        padding: 40px 0 0;
        max-width: 712px;
        margin: auto;
    }

    .grid-col-100.dynamicpage-intro {
        padding: 40px 12px 0;
        h1 {
            margin-bottom: 40px;
        }
    }

    .button {
        background: $blue;
        a {
            color: white;
            &:hover {
                color: white;
            }
        }
        color: white;
        font-family: 'Roboto-regular';
        &:hover {
            background: $blue;
        }
    }
}

.expandable {
    .entry {
        border-bottom: 1px solid $blue;
        &.active {
            padding-bottom: 40px;
            .entry-title:after {
                content: '\f463';
            }
            .entry-expanded {
                display: block;
            }
        }
    }
    .entry-title {
        padding: 20px 52px 20px 12px;
        font-size: 24px;
        color: $blue;
        font-family: 'Playfair';
        cursor: pointer;
        position: relative;
        &:after {
            position: absolute;
            content: '\f48a';
            font-family: 'ion';
            top: 55%;
            transform: translateY(-50%);
            right: 12px;
            font-size: 35px;
        }
    }
    .entry-expanded {
        display: none;
    }
    .row-title:first-child {
        margin-top: 40px;
    }
    .row-title {
        width: 20%;
        display: inline-block;
        vertical-align: top;
        font-family: 'Roboto-regular';
        padding-left: 12px;
    }
    .row-text {
        width: 79%;
        display: inline-block;
        vertical-align: top;
        border-left: 1px solid $blue;
        padding-left: 30px;
        padding-bottom: 10px;
        font-family: 'Roboto-light';
        &:last-child {
            padding-bottom: 0;
            margin-bottom: 40px;
        }
        &:first-of-type {
            margin-top: 40px;
        }
    }
    .language {
        padding: 0 12px;
    }
    .textblock {
        padding: 12px;
        font-family: 'Roboto-Light';
    }
    .button {
        margin-right: 12px;
    }
    .button-row {
        margin-top: 40px;
        text-align: center;
    }
    .textblock ~ .button-row {
        margin-top: 0;
        .button:first-child {
            margin-top: 0;
        }
    }
}

.video-block {
    margin: 40px auto 80px;
    width: 100%;
    padding-bottom:56%;
    background-size:cover;
    background-position: center center;
    position: relative;
    cursor: pointer;
    &:after {
        background-image: url(assets/images/playbutton.png);
        width: 43px;
        height: 43px;
        margin: auto;
        background-size: 43px 43px;
        display:block;
        text-align: center;
        content: '';
        font-size: 4em;
        color: white;
        position: absolute;
        top: calc(50% - 22px);
        left: 0;
        right: 0;
    }
    &:hover {
        &:after {
            background-image: url(assets/images/playbutton-hover.png);
        }
    }
}


@media screen and (max-width: 782px){
    :not(.show-video-header){
        section.main-content .content-inner {
            margin: 60px auto 0;
        }
    }
    section.main-content .content-inner {
        padding: 5% 5% 15%;
    }
    section.dynamicpage .grid-holder .grid-col-100.white-bg h1 {
        font-size: 36px;
    }
    .expandable .entry-title {
        font-size: 18px;
        padding: 10px 38px 10px 6px;
        &:after {
            font-size: 24px;
        }
    }
    .expandable .row-title:first-child {
        margin-top: 5%;
    }
    .expandable .row-title {
        margin: 5% 0;
        padding-left: 6px;
    }
    .expandable .row-text:first-of-type {
        margin-top: 5%;
    }
    .expandable .row-text {
        padding-left: 12px;
        margin-left: 0;
        width: 100%;
    }
    .expandable .button-row {
        margin-top: 5%;
    }
    .expandable .row-text:last-child {
        margin-bottom: 5%;
    }
    .divider-black {
        margin: 0 auto 10%;
    }
    .blog-post-holder .grid-holder .grid-col-50 {
        height: auto;
        padding: 0 !important;
        width: 100% !important;
    }
    .alignright, .alignleft {
        float: none;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .expandable .row-title {
        width: 100%;
    }
}