.video-header {
    text-align:center;
    background-size: cover;
    background: white;
    background-position: center center;
    min-height: 100vh;
    background-attachment: fixed;
    .hero:hover {
        .play-button::after {
            background-image: url(assets/images/playbutton-hover.png);
        }
    }
    .play-button::after {
        background-image: url(assets/images/playbutton.png);
        width: 43px;
        height: 43px;
        margin: auto;
        background-size: 43px 43px;
        display:block;
        text-align: center;
        content: "";
        font-size: 4em;
        color: white;
    }
    .arrow-down {
        position: absolute;
        bottom: 200px;
        left: 0;
        right: 0;
        opacity: 1;
        transition: .3s opacity ease-in-out;
    }
    &.inactive {
        .arrow-down {
            opacity: 0;
        }
    }
    .arrow-down::after {
        background-image: url(assets/images/downarrow2x.png);
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        display:block;
        text-align: center;
        content: "";
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 25px;
        animation: 1.5s ease-in-out 0 arrow-move;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        left:0;
        right:0;
        position: absolute;
        cursor: pointer;
        padding: 30px;
        background-position: center center;
    }
    .video-title {
        font-size: 56px;
        color: white;
        font-family: 'Playfair';
    }
    p {
        color: white;
        font-size: 16px;
    }
}
.drop-shadow-bar {
    background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    width: 100%;
    height: 140px;
    z-index: 97;
    position: absolute;
}
.hero {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 90;
    left: 0;
    right: 0;
    cursor: pointer;
}
#video-bg {
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden;
  position: absolute;
}
#video-bg > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: initial;
}
body {
    max-width: 100vw;
}

/* 1. No object-fit support: */
@media (min-aspect-ratio: 16/9) {
  #video-bg > video {
      height: 300%; top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
  #video-bg > video {
      width: 330%; left: -115%;
    }
}

#video-bg > .canvas {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (max-width: 782px) {
  .fullscreen-video {
    //display: none;
  }
  .video-header {
      background-image: url(assets/images/mobile-bg.jpg);
  }
}


@keyframes arrow-move {
  from {
    margin-top: 50px;
    margin-bottom: 125px;
  }

  to {
    margin-top: 75px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width:1080px){
    .menu {
        padding: 30px 16px;
    }
}