.video-header {
    text-align:center;
    padding-top: 240px;
    padding-bottom: 65px;
    background: url('assets/images/lappland.png');
    background-size: cover;
    background-position: center center;
    min-height: calc(100vh + 200px);
    background-attachment: fixed;
    cursor: pointer;
    .play-button::after {
        background-image: url(assets/images/playbutton.png);
        width: 43px;
        height: 43px;
        margin: auto;
        background-size: 43px 43px;
        display:block;
        text-align: center;
        content: "";
        font-size: 4em;
        color: white;
    }
    .arrow-down::after {
        background-image: url(assets/images/downarrow2x.png);
        width: 25px;
        height: 25px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        display:block;
        text-align: center;
        content: "";
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 25px;
        animation: 1.5s ease-in-out 0 arrow-move;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        left:0;
        right:0;
        position: absolute;
    }
    .video-title {
        font-size: 56px;
        color: white;
        font-family: 'Playfair';
    }
    p {
        color: white;
        font-size: 16px;
    }
}


@keyframes arrow-move {
  from {
    margin-top: 50px;
    margin-bottom: 125px;
  }

  to {
    margin-top: 75px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width:1080px){
    .menu {
        padding: 30px 16px;
    }
}