.medium {
    font-family: 'Roboto-medium' !important;
}
.purple {
    color: $purple;
}
strong {
    font-family: 'Roboto-medium';
    font-weight: normal;
}
.hidden {
    display: none;
}


//modal crap
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    background: rgba(0,0,0,.7);
}
.fade.in {
    opacity: 1;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

.modal.in .modal-dialog {
    -webkit-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
}

.modal-dialog {
    position: relative;
    width: auto;
    max-width: 640px;
    width: 100%;
}
@media (min-width: 768px){
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }
}

.modal-content {
    position: relative;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    max-width:640px;
    margin: auto;

    button {
        position: absolute;
        right: -70px;
        top: -72px;
        font-family: ion;
        color: white;
        background: rgba(1,1,1,1);
        font-size: 30px;
        padding: 0 16px;
        margin:0;
        cursor: pointer;
        &:hover {
            color: gray;
        }
        @media screen and (max-width: 820px){
            right: 0;
            top: -48px;
        }
    }
}
.modal-body {
    position: relative;
    padding: 15px;
}

body,html {
    overflow-x: hidden;
}