$imgpath: "assets/images/";

@mixin block(){
    display: inline-block;
}

.menu {
    width: 100%;
    margin: auto;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top:30px;
    transition: all .3s ease-in-out;
    z-index: 100;
    &.fixed {
        padding: 10px;
        background: $blue;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
        .menu-links {
            margin-top: 0;
        }
        .menu-logo {
            background-size: 112px 28px;
            width: 112px;
            height: 28px;
            margin-top:2px;
        }
        .menu-link-expanded {
            background: $blue;
            padding: 0 15px;
            margin-left: -15px;
        }

    }
}

.menu.blue {
    background: $blue;
    &.fixed {
        background: $blue;
        .menu-link-expanded {
            background: $blue;
        }
    }
}
.show-video-header {
    .menu.blue {
        background: none;
    }
    .menu.blue.fixed {
        background: $blue;
    }
}

.menu.green {
    background: $green;
    &.fixed {
        background: $green;
        .menu-link-expanded {
            background: $green;
        }
    }
}
.show-video-header {
    .menu.green {
        background: none;
    }
    .menu.green.fixed {
        background: $green;
    }
}

.menu.purple {
    background: $purple;
    &.fixed {
        background: $purple;
        .menu-link-expanded {
            background: $purple;
        }
    }
}
.show-video-header {
    .menu.purple {
        background: none;
    }
    .menu.purple.fixed {
        background: $purple;
    }
}

.menu.pink {
    background: $pink;
    &.fixed {
        background: $pink;
        .menu-link-expanded {
            background: $pink;
        }
    }
}
.show-video-header {
    .menu.pink {
        background: none;
    }
    .menu.pink.fixed {
        background: $pink;
    }
}

.menu-wrapper {
    width: 100%;
    max-width: $grid-large;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.logged-in .menu {
    top: 32px;
    @media screen and (max-width:782px){
        top: 46px;
    }
}
.menu ul li {
    padding: 0;
    margin: 0;
    font-size: 12px;
}
.menu-logo {
    background-image: url($imgpath + 'logo.png');
    background-size: 140px 36px;
    width: 140px;
    height: 36px;
    float: left;
    cursor: pointer;
    transition: all .3s ease-in-out;
}


.menu-link-expanded {
    display: block;
    position: absolute;
    transition: all .1s ease-in-out;
    height: 0;
    overflow: hidden;
}

.menu-link-holder {
    display: block;
    margin-right: 16px;
    float: left;
    i {
        color: white;
        margin-left: 5px;
    }
    &.link-expandable:hover {
        .menu-link-expanded {
            display: block;
            height: 56px;
        }
        .menu-link-expanded.menu-services {
            height: 160px;
        }
    }
    .menu-link-expanded {
        .menu-link {
            display: block;
        }
    }
}

.menu-links {
    float: right;
    margin-top: 3px;
    font-size:20px;
    transition: all .3s ease-in-out;
    .flag {
        @include block();
        background-image: url($imgpath + 'english.png');
        background-size: 31px 18px;
        opacity: 0.5;
        width: 31px;
        height: 18px;
        cursor: pointer;
        margin-right: 5px;
    }
    .flag[data-href="sv"]{
        background-image: url($imgpath + 'sweden.png');
    }
    .flag[data-active="active"] {
        opacity: 1;
    }
    a {
        color: white;
        margin-right: 5px;
        font-size:16px;
        &:hover {
            text-decoration: underline;
        }
    }
}