@media print {
    .menu {
        display: none;
    }
    .single section.main-content {
        max-width: 100%;
        box-shadow: none;
        .content-inner {
            margin: 0;
            padding-bottom: 0;
        }
    }
    html {
        margin-top: 0 !important;
    }
    .blog-post-single .center {
        display: none;
    }
    section.main-content .blog-post-single .blog-post-content {
        padding: 0;
    }
    section.main-content .blog-post-single .blog-post-content img {
        margin: auto;
        display: block;
        min-width: 40%;
        max-width: 600px;
        width: 100%;
    }
    footer.site-footer {
        padding: 0;
        .footer-man {
            display: none;
        }
        .footer-social {
            display: none;
        }
        .divider {
            display: none;
        }
        .developer {
            display: none;
        }
        .footer-logo {
            display: none;
            position: initial;
            margin: auto;
        }
        .copyright {
            position: initial;
            margin-top: 30px;
        }
    }
    .social {
        display: none;
    }
}
@page { size: auto;  margin: 5mm; }